main {
    
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-flex-publi {
    /* background-color: blueviolet; */
    /* height: 700px; */
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

#storys {
    /* background-color: crimson; */
    width: 100%;
    /* height: 300px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;
}

#storys::-webkit-scrollbar{
    width: 0;
    
}

.card-story {
    /* background-color: dodgerblue; */
    
}

.card-story>button {
    background-color: transparent;
    border: none;

    font-size: var(--tamanho-fonte-sm);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story>button>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

}
/* secao criar publi */
.formulario-botao-cadastro{
    width: 135px;
    
}

#criar-publi{
    padding: 10px;
}

#criar-publi>h2{
    color: black;
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700;
    margin-bottom: 30px;
}

#criar-publi>form>textarea{
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
    border: var(--borda);
}

#criar-publi>form>textarea::placeholder{
    color: black;
}

#criar-publi>form>footer{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

/* secao publicacao */
#publicacoes{
    background-color: blue;
    width: 100%;
   
}

.card-publi{
    background-color: var(--cor-azul-claro);
    width: 100%;
    /* height: 600px; */

}


.card-publi>header{
    padding: 15px;
}


.card-publi>header>a{
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: black;
    text-transform: lowercase;
}

.card-publi>figure{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imagem-publicacao{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 350px;
}

.card-publi>figure>figcaption{
    color: black;
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    display: flex;
    align-items: center;
    order: 2;
    column-gap: 5px;
    margin: 15px;
}

.descricao-publicacao{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
}

.interacoes-publicacao{
    display: flex;
    width: 90px;
    flex-wrap: wrap;
    column-gap: 15px;
    order: 1;
    margin-left: 15px;
    margin-top: 15px;
    
}

.interacoes-publicacao>button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.card-publi>figure>button{
    background-color: transparent;
    border: none;

    color: var(--cor-azul-claro);
    font-size: var(--tamanho-fonte-sm);

    order: 3;

    margin-left: 15px;
}