main {
    background-color: #ffffff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div {
    background-color: #ffffff;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

form {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 3%;

}

.formulario-campos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.formulario-botao-azul {
    width: 100%;
}

form>p {
    text-transform: uppercase;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-beje);
}

form>a, #secao-cadastro > p > a {
    color: var(--cor-beje);
    font-size: var(--tamanho-fonte-sm);
    text-decoration: none;
}

#secao-cadastro > p{
    color: var(--cor-beje);
    font-size: var(--tamanho-fonte-sm);
}

#secao-cadastro {
    height: 60px;
    display:flex ;
    justify-content: center;
    align-items: center;
}

.estilo-formulario {
    max-width: 342px;
    
}

main>div>p {
    color: var(--cor-beje);
    font-size: var(--tamanho-fonte-sm);
}

#secao-instalacao {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /*espaços em linhas e colunas*/
}